# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Facultate-an2_sem2\v2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
